/* Elementos en comun */
@font-face {
    font-family: "myfont";
    src: url("/fonts/japanese_3017/Japanese\ 3017.otf") format('woff');
}

.abrir-menu {
    display: none;

}

body {
    margin: 0;
    padding: 0;
    background-image: url("/images/fondo/fondoOscuro.jpg");
    background-size: cover;
    background-position: center;
}

/* Inicio Header */
#logo {
    grid-area: logo;
    width: 35%;
    border-radius: 50%;
    margin: 2%;
    margin-left: 3%;


}

header {
    display: grid;
    margin-bottom: 5%;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "logo nav"

}

/* Inicio Nav */

nav {
    grid-area: nav;
    background-color: transparent;
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;


}

ul {

    display: block;
    justify-content: space-between;
    margin-left: 10%;



}


li {
    float: left;
    display: block;
    margin-right: 30px;





}


nav>ul>li>a {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: myfont;
    text-decoration: none;
    letter-spacing: 4px;

}

a:hover {
    color: #c4057c;
}



/* Fin Nav */

/* Empiezo section */

h2 {
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;



}

h3 {
    font-family: myfont;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-left: 1%;
    letter-spacing: 2px;

}

.titulo-superior {
    margin-left: 25%;
}

.titulo-inferior {
    margin-left: 35%;
}

.titulo-inferior-dcha {
    margin-right: 20%;
}

.separadorCard1 {
    background-color: #c4057c;
    width: 100%;
    min-height: 1px;
    border: none;
    text-align: center;
    margin-right: 30%;

}

.separadorCard {
    background-color: #c4057c;
    width: 70%;
    min-height: 1px;
    border: none;
    text-align: center;
    margin-right: 30%;

}


.contenido-recetas {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
        "card1 . card2"
        "sepa sepa sepa"
        ". card3 .";
}



.separador-articles {
    background-color: #c4057c;
    width: 110%;
    min-height: 3px;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
}

.container-separador {
    grid-area: sepa;
}

.linearosa1 {
    display: none;
}

.linearosa {
    display: none;
}

.linea-sup {
    width: 50%;
    margin-left: 25%;

}

.linea-inf {
    width: 60%;
    margin-left: 35%;
}

.linea-inf-dcha {
    width: 60%;
    margin-right: 50%;
}

.card1 {
    grid-area: card1;

}

.card2 {
    grid-area: card2;

}

.card3 {
    grid-area: card3;

}



.receta1 {
    border-radius: 60%;
    width: 60%;

}

.receta2 {
    border-radius: 50%;
    width: 70%;
   

    
   

}

.receta3 {
    border-radius: 50%;
    width: 70%;
   

}





/* Fin section */

/* empiezo footer */

footer {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
        "card1Footer card2Footer card3Footer";
    width: 100%;
    background-color: transparent;
    color: white;
    min-height: 200px;

}

.card1Footer {
    grid-area: card1Footer;
    margin-left: 30%;
    color: white;



}

.card2Footer {
    grid-area: card2Footer;
    margin-left: 0%;




}

.card3Footer {
    grid-area: card3Footer;
    margin-left: 10%;





}

.titleFooter {
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}

.numTel {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-top: 6%;
}


#logoFooter {
    width: 40%;
    border-radius: 0%;
    color: white;
    margin-left: 30%;



}

#igLogo {
    width: 10%;
    margin-left: 2%;
    margin-top: 15%;

}

#twitterLogo {
    width: 10%;
    margin-left: 2%;
    margin-top: 15%;

}

.separador {
    background-color: #c4057c;
    width: 70%;
    min-height: 1px;
    border: none;
    text-align: center;
    margin-left: 15%;

}

/* 
BOTON ARRIBA */

.boton-arriba-contenedor {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 20px;
    height: 20px;
    z-index: -1;
}

.boton-arriba {
    width: 0px;
    height: 0px;
    background: url('/images/fondo/subir.png') center center no-repeat;
    /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta correcta de tu imagen */
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir completamente el botón */
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.boton-arriba i {
    position: absolute;
    font-size: 17px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .boton-arriba {
    animation: popup .3s ease-in-out;
    width: 30px;
    height: 30px;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: 30px;
        height: 30px;
    }
}

/* Fin Elementos en comun */

@media(700px <=width <=1100px) {

    #logo {
        width: 50%;

        margin: 2%;
        margin-left: 3%;


    }

    nav {


        width: 100%;
        margin-left: 15%;
        margin-top: 8%;


    }

    ul {


        margin-left: 0%;
        font-size: 20px;
        width: 120%;




    }




    nav>ul>li>a {
        font-size: 30px;
    }

    /* contenido general */
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }


    /* fin contenido general */

    #logoFooter {
        margin-top: 35%;
    }

    #igLogo {
        width: 15%;
        margin-left: 5%;
        margin-top: 40%;

    }

    #twitterLogo {
        width: 15%;
        margin-left: 5%;
        margin-top: 40%;

    }

    .titleFooter {

        font-size: 20px;

    }

    .numTel {

        font-size: 25px;
        margin-top: 25%;
    }

    .card1Footer {
        grid-area: card1Footer;
        margin-left: 30%;
        color: white;



    }

    .card2Footer {
        grid-area: card2Footer;
        margin-left: 0%;




    }

    .card3Footer {
        grid-area: card3Footer;
        margin-right: 10%;

    }

    footer {
        margin-top: 0%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:
            "card1Footer card2Footer card3Footer";
        width: 100%;
        background-color: transparent;
        color: white;
        min-height: 200px;

    }

}

@media(width < 700px) {



    /* Haciendo el logo mas grande y creando barra de navegacion hamburguesa */
    #logo {
        display: flex;
        width: 80%;
        margin: 5%;
        margin-left: 5%;

    }

    nav {
        background-color: transparent;
        width: 70%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        position: absolute;
        top: 30px;
        right: 0px;
        width: 70%;

    }

    .abrir-menu {
        display: block;
        width: 10%;
        position: absolute;
        right: 30px;
        top: 20px;


    }

    .nav_visible {
        opacity: 1;
        visibility: visible;
    }

    ul {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-left: 20%;
        margin-top: 10%;

    }

    nav>ul>li>a {

        font-size: 30px;


    }

    /* Contenido general */
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    .contenido-recetas {
        margin-top: 20%;
    }



    /* Aparato footer movil */
    .titleFooter {
        font-size: 20px;

    }

    .numTel {
        font-size: 20px;

    }

    footer {
        min-height: 80px;


    }

    #logoFooter {
        width: 50%;
        border-radius: 0%;
        color: white;
        margin-left: 30%;
        margin-top: 15%;


    }

    #igLogo {
        width: 25%;
        margin-right: 10%;


    }

    #twitterLogo {
        width: 25%;



    }













}